html {
  background-color: #1d1c2b;
  font-family: sans-serif;
}

.topContainer {
  width: 100%;
  height: 80px;
  margin: 0 auto;
}

.middleContainer {
  width: 100%;
  height: 1571px;
  margin: 0 auto;
  background-color:white;
}

.bottomContainer{
  width: 1140px;
  height: 522px;
  margin: 0 auto;
}

p, li {
  font-size: 18px;
  line-height: 140%;
  margin: 0;
  padding: 10px 400px;
  color: #6c757d
}

h1 {
  font-size: 35px;
  margin: 0;
  padding: 10px 400px;
  color: black;
}

img {
  display: block;
  margin: 0 auto;
}
